<div class="content">
    <div class="page-heading">Users data</div>
    <table class="w-100">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Country</th>
                <th scope="col">Market Cap</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let el of allUserData">
                <th scope="row">{{el?.id}}</th>
                <td>{{el?.name}}</td>
                <td>{{el?.address}}</td>
                <td>{{el?.country}}</td>
                <td>{{el?.marketCap}}</td>
            </tr>
        </tbody>
    </table>
</div>